/* Nav */

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --box-color: #e0e0e0;
    --footer-color: #c8c8c8;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
    --box-color: #282828;
    --footer-color: #505050;
}

#icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 0;
}

.hero {
    height: auto;
    width: 100%;
    background: var(--primary-color);
    position: relative;
}

nav {
    display: flex;
    padding: 8px 9px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    padding: 8px 12px;
    position: relative;
    background-color: var(--box-color);
    border-radius: 5px;
    display: inline-block;
    color: var(--secondary-color);
    cursor: pointer;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 13px;
}

nav ul li:hover {
    background: #f44336;
    transition: 1s;
}

h1 {
    color: var(--secondary-color);
}

/*--stuff--*/

.stuff {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.stuff h1 {
    background-color: rgba(40, 40, 40, 0.7);
    border-radius: 50px;
}
.stuff-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.stuff-col img {
    width: 100%;
    border-radius: 10px;
    display: block;
}
.stuff-col a {
    width: 100%;
    display: block;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.box .dream img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
